<h3>Food List</h3>
<table class="table table-bordered text-center">
    <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Type</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Buy</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let food of foods" [ngClass]="{'discount': food.discount}">
            <td>imagen</td>
            <td>{{food.name}}</td>
            <td>{{food.type}}</td>
            <td>{{food.price | currency}} <span *ngIf="food.discount" class="badge bg-success">  Discount </span></td>
            <td><span class="badge bg-warning text-dark" *ngIf="food.stock == 0">Sin Stock</span><span *ngIf="food.stock != 0">{{food.stock}}</span></td>
            <td>
                <app-input-integer [(amount)]="food.amount" [max]="food.stock" *ngIf="food.stock"></app-input-integer>
            </td>
        </tr>
    </tbody>
</table>